## EXERCICI 1 : BOLSA DE MADRID

En este ejercicio nos planteamos extraer, con la ayuda de Selenium, información de la web https://www.bolsasymercados.es/bme-exchange/es/Bolsa-Madrid

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.bolsasymercados.es/bme-exchange/es/Bolsa-Madrid')

## ANALISIS EXPLORATORIO DE LA WEB

Se trata de la Web de la Bolsa de Madrid que proporciona mucha información organizada en secciones en una barra de navegación.

Nos parece interesante centrarnos en el apartado de 'Indices', que proporciona la última cotización de todos los indices de los valores que cotizan en la Bolsa de Madrid.

En un primer lugar accederemos a la página de nuestro interés accionando una serie de botones y links:

In [4]:
driver.find_element(By.XPATH,'//*[@id="top-menu-movil"]/li[2]/button').click()

In [5]:
driver.find_element(By.XPATH,'//*[@id="navbar-menu"]/li[3]/a').click()

In [6]:
driver.find_element(By.XPATH,'//*[@id="navbar-menu"]/li[3]/ul/li/div[2]/div[1]/ul[1]/li/a').click()

Hemos accedido a la página https://www.bolsasymercados.es/bme-exchange/es/Indices/Resumen.

In [37]:
print(driver.title)

Resumen de Índices | BME Exchange

In [7]:
print(driver.find_element(By.TAG_NAME,'h1').text)

Resumen de Índices

In [8]:
elements=driver.find_elements(By.TAG_NAME,'h2')
elements

[<selenium.webdriver.remote.webelement.WebElement (session="4ed30a6708cdc88c3a21241ee4662383", element="23bff6a0-4b90-4790-99a2-7ce0e962627a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ed30a6708cdc88c3a21241ee4662383", element="1f0a0feb-6ff9-4a50-a26b-29e1882a7c7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ed30a6708cdc88c3a21241ee4662383", element="8d5eb919-4ee6-49db-9d5a-cb6ff1156372")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ed30a6708cdc88c3a21241ee4662383", element="f23a6906-ba67-49e1-aed3-6cca4dcf5077")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ed30a6708cdc88c3a21241ee4662383", element="3b43e321-2149-4557-833b-5d7ff5205926")>]

In [35]:
for e in elements:
    print(e.text)

Índices de Renta Variable
Índices de Renta Fija
Índices RODE (Rendimiento de Operaciones Deuda Estado) Diarios
Índices RODE (Rendimiento de Operaciones Deuda Estado) Mensuales

Esta página recoge la última cotización de los índices, en este caso el 06 de abril 2023 al cierre (17:38).

Contiene 4 secciones :  
- Índices de Renta Variable
- Índices de Renta Fija
- Índices RODE (Rendimiento de Operaciones Deuda Estado) Diarios
- Índices RODE (Rendimiento de Operaciones Deuda Estado) Mensuales

Cada sección contiene una tabla que recoge datos acerca de la cotización de cada uno de los índices que pertenecen a esta categoría.

## PLANTEAMIENTO

Nos proponemos recuperar y plasmar en un dataset para su posterior explotación cada una de las 4 tablas que ofrece la página 'Indices/Resumen'.

## Análisis de la tabla 'Indices de Renta Variable'

Para ello vamos a localizar los elementos a través de su XPATH:

In [9]:
print(driver.find_element(By.XPATH,'//*[@id="root"]/h2[1]').text)

Índices de Renta Variable

In [10]:
print(driver.find_element(By.XPATH,'//*[@id="root"]/div[2]/table/tbody/tr[1]/td[1]').text)

IBEX 35®

In [40]:
rows=len(driver.find_elements(By.XPATH,'//*[@id="root"]/div[2]/table/tbody/tr'))
rows

85

In [12]:
columns=len(driver.find_elements(By.XPATH,'//*[@id="root"]/div[2]/table/tbody/tr[2]/td'))
columns

8

Vemos que se trata de una tabla que contiene 85 filas y 8 columnas (encabezados de columnas no incluidos).

## Creación de la primera columna

Generamos una lista que contenga los datos de la primer columna, 'column1'

In [13]:
before_XPath =' //*[@id="root"]/div[2]/table/tbody/tr['
aftertd_XPath= "]/td["

In [14]:
column1=[]
for t_row in range(1, (rows + 1)):
    FinalXPath = before_XPath + str(t_row) + aftertd_XPath+str(1)+']'
    column1.append(driver.find_element(By.XPATH,FinalXPath).text)
column1

['IBEX 35®',
 'IBEX 35® con Dividendos',
 'IBEX MEDIUM CAP®',
 'IBEX SMALL CAP®',
 'IBEX 35® Bancos',
 'IBEX 35® Energía',
 'IBEX 35® Construcción',
 'IBEX Gender Equality',
 'IBEX Gender Equality Total Return',
 'IBEX Gender Equality Net Return',
 'IBEX TOP Dividendo®',
 'IBEX 35® con Dividendos Netos',
 'IBEX 35® Inverso',
 'IBEX 35® Doble Inverso',
 'IBEX 35® Inverso X3',
 'IBEX 35® Inverso X5',
 'IBEX 35® Inverso X10',
 'IBEX 35® Doble Apalancado',
 'IBEX 35® Doble Apalancado Bruto',
 'IBEX 35® Doble Apalancado Neto',
 'IBEX 35® Apalancado X3',
 'IBEX 35® Apalancado Neto X3',
 'IBEX 35® Apalancado Neto X5',
 'IBEX 35® Apalancado Neto X10',
 'IBEX 35® Capped Net Return',
 'IBEX 35® Impacto Div',
 'IBEX 35® Volatilidad Objetivo 10% Estándar',
 'IBEX 35® Volatilidad Objetivo 12% Estándar',
 'IBEX 35® Volatilidad Objetivo 15% Estándar',
 'IBEX 35® Volatilidad Objetivo 18% Estándar',
 'IBEX 35® Volatilidad Objetivo 10% Financiado',
 'IBEX 35® Volatilidad Objetivo 12% Financiado',
 'IBEX 35® Volatilidad Objetivo 15% Financiado',
 'IBEX 35® Volatilidad Objetivo 18% Financiado',
 'VIBEX®',
 'IBEX 35® Skew',
 'IBEX 35® BuyWrite',
 'IBEX 35® PutWrite',
 'IBEX 35® Protective Put',
 'IBEX 35® Venta de Strangle',
 'IBEX 35® TR Decrement 4,5%',
 'IBEX 35® TR Decrement 5%',
 'IBEX 35® TR Decrement 400P',
 'IBEX 35® TR Decrement 450P',
 'IBEX TOP Dividendo® Rentabilidad',
 'IBEX TOP Dividendo® Rentabilidad Neta',
 'IBEX MEDIUM CAP® con Dividendos',
 'IBEX MEDIUM CAP® con Dividendos Netos',
 'IBEX SMALL CAP® con Dividendos',
 'IBEX SMALL CAP® con Dividendos Netos',
 'IBEX Growth Market® 15',
 'IBEX Growth Market® All Share',
 'FTSE4Good IBEX',
 'FTSE4Good IBEX Total Return',
 'FTSE4Good IBEX Net Return',
 'Latibex AS',
 'Latibex TOP',
 'Latibex BRASIL',
 'I.G.B.M.',
 'I.G.B.M. Total',
 'BCN GLOBAL 100 (Base 1986)',
 'BCN GLOBAL 100 (Base 1963)',
 'BCN MID 50',
 'BCN PROFIT-30',
 'BCN ROE-30',
 'BCN PER-30',
 'BCN INDEXCAT',
 'I.BILBAO 2000',
 'I.G.B.V.',
 'Índice TEF Apalancado X3',
 'Índice SAN Apalancado X3',
 'Índice BBVA Apalancado X3',
 'Índice ITX Apalancado X3',
 'Índice TEF Apalancado X5',
 'Índice SAN Apalancado X5',
 'Índice BBVA Apalancado X5',
 'Índice ITX Apalancado X5',
 'Índice TEF Inverso X3',
 'Índice SAN Inverso X3',
 'Índice BBVA Inverso X3',
 'Índice ITX Inverso X3',
 'Índice TEF Inverso X5',
 'Índice SAN Inverso X5',
 'Índice BBVA Inverso X5',
 'Índice ITX Inverso X5']

## Creación de una función para generar la totalidad de las columnas

In [15]:
def my_function(x):
    column=[]
    for t_row in range(1, (rows + 1)):
        FinalXPath = before_XPath + str(t_row) + aftertd_XPath+str(x)+']'
        column.append(driver.find_element(By.XPATH,FinalXPath).text)
    return column

In [16]:
total_columns=[]
for i in range(1,columns+1):
       total_columns.append(my_function(i))
total_columns

[['IBEX 35®',
  'IBEX 35® con Dividendos',
  'IBEX MEDIUM CAP®',
  'IBEX SMALL CAP®',
  'IBEX 35® Bancos',
  'IBEX 35® Energía',
  'IBEX 35® Construcción',
  'IBEX Gender Equality',
  'IBEX Gender Equality Total Return',
  'IBEX Gender Equality Net Return',
  'IBEX TOP Dividendo®',
  'IBEX 35® con Dividendos Netos',
  'IBEX 35® Inverso',
  'IBEX 35® Doble Inverso',
  'IBEX 35® Inverso X3',
  'IBEX 35® Inverso X5',
  'IBEX 35® Inverso X10',
  'IBEX 35® Doble Apalancado',
  'IBEX 35® Doble Apalancado Bruto',
  'IBEX 35® Doble Apalancado Neto',
  'IBEX 35® Apalancado X3',
  'IBEX 35® Apalancado Neto X3',
  'IBEX 35® Apalancado Neto X5',
  'IBEX 35® Apalancado Neto X10',
  'IBEX 35® Capped Net Return',
  'IBEX 35® Impacto Div',
  'IBEX 35® Volatilidad Objetivo 10% Estándar',
  'IBEX 35® Volatilidad Objetivo 12% Estándar',
  'IBEX 35® Volatilidad Objetivo 15% Estándar',
  'IBEX 35® Volatilidad Objetivo 18% Estándar',
  'IBEX 35® Volatilidad Objetivo 10% Financiado',
  'IBEX 35® Volatilidad Objetivo 12% Financiado',
  'IBEX 35® Volatilidad Objetivo 15% Financiado',
  'IBEX 35® Volatilidad Objetivo 18% Financiado',
  'VIBEX®',
  'IBEX 35® Skew',
  'IBEX 35® BuyWrite',
  'IBEX 35® PutWrite',
  'IBEX 35® Protective Put',
  'IBEX 35® Venta de Strangle',
  'IBEX 35® TR Decrement 4,5%',
  'IBEX 35® TR Decrement 5%',
  'IBEX 35® TR Decrement 400P',
  'IBEX 35® TR Decrement 450P',
  'IBEX TOP Dividendo® Rentabilidad',
  'IBEX TOP Dividendo® Rentabilidad Neta',
  'IBEX MEDIUM CAP® con Dividendos',
  'IBEX MEDIUM CAP® con Dividendos Netos',
  'IBEX SMALL CAP® con Dividendos',
  'IBEX SMALL CAP® con Dividendos Netos',
  'IBEX Growth Market® 15',
  'IBEX Growth Market® All Share',
  'FTSE4Good IBEX',
  'FTSE4Good IBEX Total Return',
  'FTSE4Good IBEX Net Return',
  'Latibex AS',
  'Latibex TOP',
  'Latibex BRASIL',
  'I.G.B.M.',
  'I.G.B.M. Total',
  'BCN GLOBAL 100 (Base 1986)',
  'BCN GLOBAL 100 (Base 1963)',
  'BCN MID 50',
  'BCN PROFIT-30',
  'BCN ROE-30',
  'BCN PER-30',
  'BCN INDEXCAT',
  'I.BILBAO 2000',
  'I.G.B.V.',
  'Índice TEF Apalancado X3',
  'Índice SAN Apalancado X3',
  'Índice BBVA Apalancado X3',
  'Índice ITX Apalancado X3',
  'Índice TEF Apalancado X5',
  'Índice SAN Apalancado X5',
  'Índice BBVA Apalancado X5',
  'Índice ITX Apalancado X5',
  'Índice TEF Inverso X3',
  'Índice SAN Inverso X3',
  'Índice BBVA Inverso X3',
  'Índice ITX Inverso X3',
  'Índice TEF Inverso X5',
  'Índice SAN Inverso X5',
  'Índice BBVA Inverso X5',
  'Índice ITX Inverso X5'],
 ['9.312,30',
  '30.176,80',
  '13.710,40',
  '8.078,40',
  '593,40',
  '1.494,90',
  '1.765,10',
  '9.224,30',
  '10.674,70',
  '10.392,60',
  '2.610,90',
  '24.990,90',
  '1.888,10',
  '166,90',
  '5.223,60',
  '277,90',
  '421,00',
  '4.273,20',
  '22.508,80',
  '18.327,90',
  '553,30',
  '7.501,40',
  '330,40',
  '5.724,70',
  '25.059,30',
  '120,40',
  '188,30',
  '196,00',
  '202,50',
  '203,70',
  '135,00',
  '139,10',
  '146,10',
  '141,70',
  '14,99',
  '6,98',
  '1.546,73',
  '1.558,78',
  '671,35',
  '1.580,43',
  '9.241,80',
  '9.183,50',
  '9.207,00',
  '9.134,70',
  '7.833,70',
  '6.362,40',
  '16.468,40',
  '15.132,30',
  '12.575,70',
  '12.015,60',
  '2.344,70',
  '2.005,20',
  '9.904,90',
  '23.630,40',
  '20.654,40',
  '2.198,80',
  '5.024,10',
  '10.319,30',
  '926,30',
  '4.308,59',
  '749,19',
  '1.925,54',
  '24.923,62',
  '11.999,44',
  '16.822,41',
  '18.214,87',
  '20.327,76',
  '1.484,96',
  '1.437,61',
  '287,80',
  '336,40',
  '738,80',
  '3.104,70',
  '217,90',
  '526,90',
  '274,80',
  '80,70',
  '322,80',
  '6.881,40',
  '3.962,30',
  '59,60',
  '1.471,10',
  '75,30',
  '83,80',
  '74,70'],
 ['0,62%',
  '0,98%',
  '0,14%',
  '0,35%',
  '1,63%',
  '0,59%',
  '-0,62%',
  '0,74%',
  '0,88%',
  '0,85%',
  '0,84%',
  '0,91%',
  '-0,97%',
  '-1,94%',
  '-2,91%',
  '-4,86%',
  '-9,71%',
  '1,24%',
  '1,95%',
  '1,82%',
  '1,86%',
  '2,72%',
  '4,52%',
  '9,04%',
  '0,91%',
  '-',
  '0,43%',
  '0,51%',
  '0,65%',
  '0,79%',
  '0,45%',
  '0,51%',
  '0,62%',
  '0,78%',
  '-1,51%',
  '-0,14%',
  '0,28%',
  '0,05%',
  '1,18%',
  '-0,90%',
  '0,97%',
  '0,97%',
  '0,97%',
  '0,97%',
  '1,04%',
  '1,00%',
  '0,14%',
  '0,14%',
  '0,35%',
  '0,35%',
  '-0,41%',
  '-0,16%',
  '0,71%',
  '0,97%',
  '0,92%',
  '-0,29%',
  '-0,47%',
  '-0,66%',
  '0,73%',
  '1,01%',
  '0,80%',
  '0,80%',
  '0,65%',
  '0,68%',
  '0,67%',
  '1,07%',
  '0,85%',
  '0,51%',
  '0,87%',
  '2,06%',
  '9,29%',
  '5,56%',
  '-3,14%',
  '3,42%',
  '15,47%',
  '9,26%',
  '-5,28%',
  '-2,09%',
  '-9,32%',
  '-5,59%',
  '3,11%',
  '-3,50%',
  '-15,58%',
  '-9,31%',
  '5,21%'],
 ['9.323,50',
  '30.213,10',
  '13.740,80',
  '8.111,80',
  '594,50',
  '1.501,50',
  '1.777,80',
  '9.230,70',
  '10.682,20',
  '10.399,90',
  '2.614,80',
  '25.021,00',
  '1.904,60',
  '169,80',
  '5.363,10',
  '290,50',
  '461,20',
  '4.283,50',
  '22.562,40',
  '18.371,60',
  '555,20',
  '7.528,00',
  '332,30',
  '5.788,50',
  '25.089,50',
  '120,40',
  '188,40',
  '196,10',
  '202,70',
  '203,90',
  '135,00',
  '139,20',
  '146,30',
  '141,80',
  '14,99',
  '6,98',
  '1.546,73',
  '1.558,78',
  '671,35',
  '1.580,43',
  '9.253,00',
  '9.194,50',
  '9.218,10',
  '9.145,70',
  '7.845,40',
  '6.371,90',
  '16.504,90',
  '15.165,80',
  '12.627,70',
  '12.065,30',
  '2.354,00',
  '2.011,80',
  '9.916,70',
  '23.658,70',
  '20.679,10',
  '2.223,80',
  '5.063,60',
  '10.427,90',
  '927,22',
  '4.308,59',
  '750,09',
  '1.927,86',
  '24.955,15',
  '12.012,65',
  '16.835,64',
  '18.223,65',
  '20.363,71',
  '1.487,08',
  '1.439,45',
  '292,20',
  '336,40',
  '746,60',
  '3.239,10',
  '223,40',
  '526,90',
  '279,40',
  '86,70',
  '338,20',
  '7.507,50',
  '4.137,70',
  '59,90',
  '1.590,10',
  '87,60',
  '90,20',
  '75,20'],
 ['9.232,60',
  '29.918,60',
  '13.611,00',
  '8.049,30',
  '580,90',
  '1.486,40',
  '1.756,30',
  '9.159,20',
  '10.599,40',
  '10.319,30',
  '2.585,40',
  '24.777,00',
  '1.885,80',
  '166,50',
  '5.204,00',
  '276,10',
  '415,30',
  '4.200,50',
  '22.127,30',
  '18.016,90',
  '539,20',
  '7.312,10',
  '316,80',
  '5.271,20',
  '24.844,80',
  '120,40',
  '187,60',
  '195,10',
  '201,30',
  '202,20',
  '134,40',
  '138,40',
  '145,20',
  '140,60',
  '14,99',
  '6,98',
  '1.546,73',
  '1.558,78',
  '671,35',
  '1.580,43',
  '9.162,80',
  '9.104,90',
  '9.128,30',
  '9.056,50',
  '7.757,40',
  '6.300,40',
  '16.349,10',
  '15.022,60',
  '12.530,40',
  '11.972,30',
  '2.335,00',
  '1.999,50',
  '9.820,80',
  '23.429,90',
  '20.479,10',
  '2.198,80',
  '5.024,10',
  '10.319,30',
  '919,74',
  '4.308,59',
  '743,83',
  '1.911,76',
  '24.737,27',
  '11.927,97',
  '16.736,15',
  '18.069,25',
  '20.074,67',
  '1.477,30',
  '1.428,17',
  '274,60',
  '311,00',
  '709,50',
  '3.089,10',
  '201,50',
  '464,10',
  '257,20',
  '80,00',
  '317,60',
  '6.881,40',
  '3.915,50',
  '57,20',
  '1.431,40',
  '75,30',
  '82,10',
  '69,70'],
 ['06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023',
  '06/04/2023'],
 ['17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:39:01',
  '17:39:01',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00',
  '17:38:00'],
 ['13,16%',
  '14,60%',
  '7,13%',
  '12,43%',
  '13,35%',
  '5,27%',
  '10,07%',
  '14,98%',
  '16,27%',
  '16,06%',
  '3,28%',
  '14,32%',
  '-12,54%',
  '-24,68%',
  '-35,81%',
  '-54,58%',
  '-83,76%',
  '25,96%',
  '29,17%',
  '28,56%',
  '38,92%',
  '43,11%',
  '71,90%',
  '-77,89%',
  '14,32%',
  '-',
  '8,22%',
  '9,80%',
  '12,44%',
  '14,95%',
  '8,00%',
  '9,18%',
  '11,95%',
  '14,18%',
  '-7,64%',
  '26,91%',
  '5,59%',
  '2,26%',
  '12,53%',
  '-6,20%',
  '13,24%',
  '13,09%',
  '13,24%',
  '13,06%',
  '5,36%',
  '5,02%',
  '8,03%',
  '7,85%',
  '13,70%',
  '13,57%',
  '-1,55%',
  '1,93%',
  '12,61%',
  '14,01%',
  '13,74%',
  '-4,84%',
  '-5,93%',
  '-7,84%',
  '12,93%',
  '14,40%',
  '12,36%',
  '12,36%',
  '12,21%',
  '9,48%',
  '6,61%',
  '5,47%',
  '6,59%',
  '13,32%',
  '14,50%',
  '65,31%',
  '73,67%',
  '54,43%',
  '72,73%',
  '118,99%',
  '101,11%',
  '58,39%',
  '127,97%',
  '-47,13%',
  '130,00%',
  '-58,16%',
  '-51,82%',
  '-67,48%',
  '-83,17%',
  '-80,68%',
  '-72,82%']]

In [17]:
columns_title=[]
for t_col in range(1, (columns + 1)):
    columns_title.append(driver.find_element(By.XPATH,"//*[@id='root']/div[2]/table/thead/tr/th["+str(t_col)+"]").text)
columns_title

['Índice',
 'Último',
 '% Dif.',
 'Máximo',
 'Mínimo',
 'Fecha',
 'Hora',
 '% Dif. Año']

Acabamos de crear una función que nos permita generar la tabla independientemente de si se modifica la estructura de la tabla (número de columnas y filas), y la información qu contiene.

## Construcción del dataset

In [18]:
df_variable = pd.DataFrame(total_columns)
df_variable.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,IBEX 35®,IBEX 35® con Dividendos,IBEX MEDIUM CAP®,IBEX SMALL CAP®,IBEX 35® Bancos,IBEX 35® Energía,IBEX 35® Construcción,IBEX Gender Equality,IBEX Gender Equality Total Return,IBEX Gender Equality Net Return,...,Índice BBVA Apalancado X5,Índice ITX Apalancado X5,Índice TEF Inverso X3,Índice SAN Inverso X3,Índice BBVA Inverso X3,Índice ITX Inverso X3,Índice TEF Inverso X5,Índice SAN Inverso X5,Índice BBVA Inverso X5,Índice ITX Inverso X5
1,"9.312,30","30.176,80","13.710,40","8.078,40","593,40","1.494,90","1.765,10","9.224,30","10.674,70","10.392,60",...,"274,80","80,70","322,80","6.881,40","3.962,30","59,60","1.471,10","75,30","83,80","74,70"
2,"0,62%","0,98%","0,14%","0,35%","1,63%","0,59%","-0,62%","0,74%","0,88%","0,85%",...,"9,26%","-5,28%","-2,09%","-9,32%","-5,59%","3,11%","-3,50%","-15,58%","-9,31%","5,21%"
3,"9.323,50","30.213,10","13.740,80","8.111,80","594,50","1.501,50","1.777,80","9.230,70","10.682,20","10.399,90",...,"279,40","86,70","338,20","7.507,50","4.137,70","59,90","1.590,10","87,60","90,20","75,20"
4,"9.232,60","29.918,60","13.611,00","8.049,30","580,90","1.486,40","1.756,30","9.159,20","10.599,40","10.319,30",...,"257,20","80,00","317,60","6.881,40","3.915,50","57,20","1.431,40","75,30","82,10","69,70"

In [19]:
df1_variable=df_variable.transpose()
df1_variable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       85 non-null     object
 1   1       85 non-null     object
 2   2       85 non-null     object
 3   3       85 non-null     object
 4   4       85 non-null     object
 5   5       85 non-null     object
 6   6       85 non-null     object
 7   7       85 non-null     object
dtypes: object(8)
memory usage: 5.4+ KB

In [20]:
df1_variable.columns=columns_title
df1_variable

,Índice,Último,% Dif.,Máximo,Mínimo,Fecha,Hora,% Dif. Año
0,IBEX 35®,"9.312,30","0,62%","9.323,50","9.232,60",06/04/2023,17:38:00,"13,16%"
1,IBEX 35® con Dividendos,"30.176,80","0,98%","30.213,10","29.918,60",06/04/2023,17:38:00,"14,60%"
2,IBEX MEDIUM CAP®,"13.710,40","0,14%","13.740,80","13.611,00",06/04/2023,17:38:00,"7,13%"
3,IBEX SMALL CAP®,"8.078,40","0,35%","8.111,80","8.049,30",06/04/2023,17:38:00,"12,43%"
4,IBEX 35® Bancos,"593,40","1,63%","594,50","580,90",06/04/2023,17:38:00,"13,35%"
...,...,...,...,...,...,...,...,...
80,Índice ITX Inverso X3,"59,60","3,11%","59,90","57,20",06/04/2023,17:38:00,"-51,82%"
81,Índice TEF Inverso X5,"1.471,10","-3,50%","1.590,10","1.431,40",06/04/2023,17:38:00,"-67,48%"
82,Índice SAN Inverso X5,"75,30","-15,58%","87,60","75,30",06/04/2023,17:38:00,"-83,17%"
83,Índice BBVA Inverso X5,"83,80","-9,31%","90,20","82,10",06/04/2023,17:38:00,"-80,68%"
84,Índice ITX Inverso X5,"74,70","5,21%","75,20","69,70",06/04/2023,17:38:00,"-72,82%"

In [38]:
df1_variable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Índice      85 non-null     object
 1   Último      85 non-null     object
 2   % Dif.      85 non-null     object
 3   Máximo      85 non-null     object
 4   Mínimo      85 non-null     object
 5   Fecha       85 non-null     object
 6   Hora        85 non-null     object
 7   % Dif. Año  85 non-null     object
dtypes: object(8)
memory usage: 5.4+ KB

## APLICACIÓN AL RESTO DE TABLAS

Con la función creada más arriba podemos generar al resto de tablas, cambiando el elemento relativo h2(h2[1],h2[2],h2[3],h2[4] sucesivamente), y el elemento relativo div(div[2],div[3],div[4],div[5] sucesivamente).

## Creación de la segunda tabla 'Renta Fija'

In [21]:
print(driver.find_element(By.XPATH,'//*[@id="root"]/h2[2]').text)

Índices de Renta Fija

In [22]:
print(driver.find_element(By.XPATH,'//*[@id="root"]/div[3]/table/tbody/tr[1]/td[1]').text)

AIAF 2000®

In [23]:
rows=len(driver.find_elements(By.XPATH,'//*[@id="root"]/div[3]/table/tbody/tr'))
rows

5

In [24]:
columns=len(driver.find_elements(By.XPATH,'//*[@id="root"]/div[3]/table/tbody/tr[2]/td'))
columns

8

In [25]:
before_XPath =' //*[@id="root"]/div[3]/table/tbody/tr['
aftertd_XPath= "]/td["

In [27]:
def my_function(x):
    column=[]
    for t_row in range(1, (rows + 1)):
        FinalXPath = before_XPath + str(t_row) + aftertd_XPath+str(x)+']'
        column.append(driver.find_element(By.XPATH,FinalXPath).text)
    return column

In [28]:
total_columns=[]
for i in range(1,columns+1):
       total_columns.append(my_function(i))
total_columns

[['AIAF 2000®',
  'AIAF 2000® Corto',
  'AIAF 2000® Medio',
  'AIAF 2000® Largo',
  'AIAF 2000® Extra Largo'],
 ['5.979,50', '4.738,20', '5.722,39', '6.984,30', '9.073,79'],
 ['3,76', '1,91', '3,60', '7,16', '11,03'],
 ['6.006,13', '4.750,01', '5.750,87', '7.045,55', '9.166,22'],
 ['3,74', '1,91', '3,60', '7,17', '11,04'],
 ['0,44%', '0,25%', '0,50%', '0,87%', '1,01%'],
 ['26,63', '11,81', '28,48', '61,25', '92,43'],
 ['06/04/2023', '06/04/2023', '06/04/2023', '06/04/2023', '06/04/2023']]

In [29]:
columns_title=[]
for t_col in range(1, (columns + 1)):
    columns_title.append(driver.find_element(By.XPATH,"//*[@id='root']/div[3]/table/thead/tr/th["+str(t_col)+"]").text)
columns_title

['Índice',
 'Anterior',
 'Duración Anterior',
 'Último',
 'Duración Último',
 '% Dif.',
 'Dif. Valor',
 'Fecha']

In [30]:
df_fija= pd.DataFrame(total_columns)
df_fija.head()

,0,1,2,3,4
0,AIAF 2000®,AIAF 2000® Corto,AIAF 2000® Medio,AIAF 2000® Largo,AIAF 2000® Extra Largo
1,"5.979,50","4.738,20","5.722,39","6.984,30","9.073,79"
2,"3,76","1,91","3,60","7,16","11,03"
3,"6.006,13","4.750,01","5.750,87","7.045,55","9.166,22"
4,"3,74","1,91","3,60","7,17","11,04"

In [31]:
df1_fija=df_fija.transpose()
df1_fija.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      object
 2   2       5 non-null      object
 3   3       5 non-null      object
 4   4       5 non-null      object
 5   5       5 non-null      object
 6   6       5 non-null      object
 7   7       5 non-null      object
dtypes: object(8)
memory usage: 448.0+ bytes

In [32]:
df1_fija.columns=columns_title
df1_fija

,Índice,Anterior,Duración Anterior,Último,Duración Último,% Dif.,Dif. Valor,Fecha
0,AIAF 2000®,"5.979,50","3,76","6.006,13","3,74","0,44%","26,63",06/04/2023
1,AIAF 2000® Corto,"4.738,20","1,91","4.750,01","1,91","0,25%","11,81",06/04/2023
2,AIAF 2000® Medio,"5.722,39","3,60","5.750,87","3,60","0,50%","28,48",06/04/2023
3,AIAF 2000® Largo,"6.984,30","7,16","7.045,55","7,17","0,87%","61,25",06/04/2023
4,AIAF 2000® Extra Largo,"9.073,79","11,03","9.166,22","11,04","1,01%","92,43",06/04/2023

In [44]:
df1_fija.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Índice             5 non-null      object
 1   Anterior           5 non-null      object
 2   Duración Anterior  5 non-null      object
 3   Último             5 non-null      object
 4   Duración Último    5 non-null      object
 5   % Dif.             5 non-null      object
 6   Dif. Valor         5 non-null      object
 7   Fecha              5 non-null      object
dtypes: object(8)
memory usage: 448.0+ bytes

Podríamos crear las siguientes 2 tablas siguiendo el mismo proceso.

In [34]:
driver.quit

In [41]:
df1_variable.to_csv('Renta_variable.csv')

In [43]:
df1_fija.to_csv('Renta_fija.csv')